.message {
  padding: 25px;
  margin: 25px;
  width: fit-content;
  max-width: 75ch;
  min-width: 15ch;
  word-wrap: break-word;
}
.message__user {
  margin-left: auto;
  color: white;
  text-align: left !important;
  max-width: 75ch;
  min-width: 15ch;
  word-wrap: break-word;
}

.content {
  flex-grow: 1;
  background: red;
  padding: 15px;
}

.message__userCard {
  background-color: #a0a0fd !important;
}

.message__guestCard {
  background-color: whitesmoke !important;
}
