.App {
  text-align: center;
}

.app__form {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background-color: whitesmoke;
  margin: 15px;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
  /* contain: 100% !important; */
}

.app__input {
  flex: 1 !important;
}

.app__iconButton {
  flex: 0 !important;
}
