.App {
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__form {
  text-align: center;
  position: sticky;
  bottom: 0;
  z-index: 1;
  min-width: 70%;
  background-color: whitesmoke;
  padding: 25px;
  padding-top: 5px;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
  min-width: 80% !important;
  /* contain: 100% !important; */
}

.app__input {
  flex: 1 !important;
}

.app__iconButton {
  flex: 0 !important;
}
