.message {
  padding: 25px;
  margin: 25px;
  width: fit-content;
  max-width: 75ch;
  word-wrap: break-word;
}
.message__user {
  margin-left: auto;
  color: white;
  text-align: left !important;
  max-width: 75ch;
  word-wrap: break-word;
}

.message__userCard {
  background-color: blue !important;
}

.message__guestCard {
  background-color: whitesmoke !important;
}
